*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    font-size: 62.5%;
    font-family: 'DM sans', sans-serif;
}
.header-container{

    position: static;
    width: 100%;
    
    
}
.header-container .search{
    transform: rotate(180deg);
    margin-top: 120px;
    text-align: center;
    color:whitesmoke;
}

.header-container .search .searchTxt{
    min-width: 50%;
    height: 30px;
    color: white;
    border-radius: 30px;
    text-align: center;
}

.header-container .img-container{
   width: 100%;
   height: 180px;
   margin-top: -6rem;
}

.header-container #poke_img{
    width: 100%;
    height: 100%;
    margin-left: 33%;   
    max-width: 39%;
    transform: rotate(180deg);
    animation: beat .7s infinite;
}



@keyframes beat{
  from{transform: none;}
  60%{transform: scale(1.1)}
  to{transform: none;}
}

.header-container #poke-container{
   
    border: 1px solid;
    height:13em;
    border-radius: 250px 250px 0 0;
    margin-top: -2em;
    transform: rotate(180deg);

}

  .header-container #poke-container, .item1, .header-container .search .searchTxt, .evolution-container{
    background: linear-gradient(207deg, #0bc8a7, #2776df, #8a27df, #4503f3);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}

.info-container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;  
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
    margin-left: 8%;
    margin-top: 60px;
    font-size: 3vmax;
    grid-gap: 6%;
    margin-bottom: 60px;
     grid-template-areas: 
         "title title "
         "skill skill "
         "name  caracter"
         "name2 name2"  
}

.item1{
   font-size: 1rem;
   justify-content: center;
 text-align: center;
 color: white;
   grid-area: title;
   font-weight: bold;
   max-width: 95%;
   height: 36px;
   margin-left: -2%;  
   border-radius: 10px 10px 10px 10px;  
}

.item5{
    width: 90%;
    font-size: 1.2rem;
    grid-area: skill;
    font-family: 'Noto Sans HK', sans-serif;
}
.item3{
    width: 40%;
   /*   background-color: rgba(218, 216, 216, 0.467); */
      border-radius: 1px 1px 0 0;
      font-family: 'Noto Sans HK', sans-serif;
      text-align: center;
      grid-area: name;
      margin-left: 35%;
      font-size: 1.2rem;
      border-top: 2px solid rgb(181, 181, 181);
}
.item4{
     width: 40%;
    /* background-color: rgba(218, 216, 216, 0.467);*/
     border-radius: 1px 1px 0 0;
     font-family: 'Noto Sans HK', sans-serif;
     margin-bottom: 40px;
     text-align: center;
     grid-area: caracter;
     max-width: 84%;
     font-size: 1.2rem;
     border-top: 2px solid rgb(181, 181, 181);
}

.pokemon-type--container{
    width: 100%;
    height: 500px;
   
  
}
.pokemon-type--container .type-container{

  margin-bottom: 10px;
   text-align: center;
  
}

.type-container .item8{
  width: 20%;
  height: 30px;
  font-size: 1.2rem;
  color: whitesmoke;
  font-family: 'Noto Sans HK', sans-serif;
  min-width: 288px;
    max-width: 900px;
  margin: 0 auto;
  background-color: #321466;
  border-radius: 10px 10px;
}
.type-container .item9, .item10{
    margin: 10px auto;
    font-size: 1.2rem;
    font-family: 'Noto Sans HK', sans-serif;
    

}
.type-container, .item10{

    margin-bottom: 150px;
}

.evolution-container{
    position: relative;
    width: 100%;
    min-width: 32px;
    height: auto;
    padding: 20px 10px;
}

.pokemon-type--icon{
    position: absolute;
    width: 150px;
    height: 150px;
    top: -90px;
    left: calc(47% - 50px);
   
}

.evolution-container  .evolution-1, .evolution-2, .evolution-3{
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 1.2rem;
    color: whitesmoke;

}

.evolution-container .evolution-1{
    text-align: center;
    width: 90%;
       min-width: 288px;
       max-width: 400px;
       height: 150px;
       margin: 15px auto;
       padding: 15px;
       background-color: #1a0739;
       border-radius: 5px;
       box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.evolution-container .evolution-2{
    text-align: center;
    width: 90%;
       min-width: 288px;
       max-width: 400px;
       height: 150px;
       margin: 15px auto;
       padding: 15px;
       background-color: #1a0739;
       border-radius: 5px;
       box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.evolution-container .evolution-3{
    text-align: center;
    width: 90%;
       min-width: 288px;
       max-width: 400px;
       height: 150px;
       margin: 15px auto;
       padding: 15px;
       background-color: #1a0739;
       border-radius: 5px;
       box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.evolution-container .evolution-1 .img, .img-evolution2, .img-evolution3{
    
    width: 30%;
     
}

footer{
    width: 100%;
    height: 130px;
    background-color: #1a0739;
    text-align: right;
}
footer .paraph{
    color: white;
  
    

}

/*
@media(min-width: 700px ){ 
    #poke_img{
        min-width: 12%;
        margin-left: 15%;
        height: auto;
        margin-top: -15em;
    }
    #poke-container{
        width: 50%;
        height: 12em;
        border-radius:  250px 200px 0 0;
        margin-left: 30%;
    }

    .item1{
        font-size: 3vmin;
        margin-top: 10%;
    }
    */



