*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
#poke_img{
    margin-top: -7em;
    margin-left: 33%;   
    max-width: 39%;
    min-width: 39%;
    transform: rotate(180deg);
    animation: beat .7s infinite;
   
}

@keyframes beat{
  from{transform: none;}
  60%{transform: scale(1.1)}
  to{transform: none;}
}

#poke-container{
    background-color: #7777 ;
    border: 1px solid;
    height:13em;
    border-radius: 250px 250px 0 0;
    margin-top: -2em;
    transform: rotate(180deg);
}

.info-container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;  
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
    margin-top: 18%;
    margin-left: 8%;
    font-size: 3vmax;
    grid-gap: 6%;
    margin-bottom: 60px;
     grid-template-areas: 
         "title title "
         "skill skill "
         "name  caracter"
         "name2 name2"  
}

.item1{
   font-size: 6.5vmin;
   grid-area: title;
   max-width: 95%;
   height: 33px;
   margin-left: -2%;
   text-align: center;
   background-color: #b5b2b254;
   border-radius: 10px 10px 10px 10px;  
}
.item5{
    width: 90%;
    font-size: 5vmin;
    grid-area: skill;
}
.item3{
    width: 88%;
      background-color: rgba(218, 216, 216, 0.467);
      border-radius: 1px 1px 0 0;
      text-align: center;
      grid-area: name;
      font-size: 2.7vmax;
}
.item4{
   width: 88%;
     background-color: rgba(218, 216, 216, 0.467);
     border-radius: 1px 1px 0 0;
     text-align: center;
     grid-area: caracter;
     max-width: 84%;
     font-size: 2.7vmax;
}

.pokemon-type--container{
    width: 100%;
    height: auto;
   
  
}
.pokemon-type--container .type-container{

  margin-bottom: 10px;
   margin-bottom: 40px;
   text-align: center;
  
}
.type-container .item8{
  width: 90%;
  min-width: 288px;
    max-width: 900px;
  margin: 0 auto;
  background-color: beige;
}
.type-container .item9{
    margin: 10px auto;
}

.evolution-container{

}

@media(min-width: 700px ){ 
    #poke_img{
        min-width: 12%;
        margin-left: 15%;
        height: auto;
        margin-top: -15em;
    }
    #poke-container{
        width: 50%;
        height: 12em;
        border-radius:  250px 200px 0 0;
        margin-left: 30%;
    }

    .item1{
        font-size: 3vmin;
        margin-top: 10%;
    }
}


