

<section class="header-container">
<div id="poke-container">
    <div class="search">
        <input type="text" placeholder="Buscar pokemon" class="searchTxt" [(ngModel)]="pokemonId" (keyup.enter)="getPokemonId()"/>
    </div>
</div>
<div *ngIf ="pokemon" class="">
          <div class="img-container">
    <img src ="{{pokemon.sprites.other.dream_world.front_default}}" id="poke_img"/>
</div>

</div>
</section>

<div class= "dash">

</div>

<div *ngIf ="pokemon" class="info-container">
    <div *ngIf ="pokemon"class="item1"><h1>{{pokemon.name}}</h1></div> 
    <div *ngIf ="pokemon"class ="item3">Altura: {{pokemon.height}}</div> 
    <div *ngIf ="pokemon"class="item4">Peso: {{pokemon.weight}}</div>
    <div *ngIf ="pokemon"class ="item5">{{hability.flavor_text_entries[42].flavor_text}}</div> 
   
    
   <!--- <input type="text" class="item6" [(ngModel)]="pokemonId" (keyup.enter)="getPokemonId()"/> -->
</div>

<section class="pokemon-type--container">

<div class="type-container">
    <div class="item8">Tipo</div>
    <div *ngIf ="pokemon"class="item9">{{pokemon.types[0].type.name}}</div>
    <div *ngIf ="pokemon" class="item10">{{pokemon.types[1].type.name}}</div>


<!--
</div>
    <div class ="evolution-container">
        <img src ="{{pokemon.sprites.back_default}}" class="pokemon-type--icon"/>

        <div class="evolution-1" >
            <p >{{getEvolutions1}}</p>
            <img src ="{{getEvolutionsImage.sprites.other.dream_world.front_default}}" class="img"/> 
        </div>
          
        <div class="evolution-2">
           <p>{{getEvolutions2}}</p> 
           <img src="{{getEvolutionsImage2.sprites.other.dream_world.front_default}}" class="img-evolution2"/>
        </div>
        <div class="evolution-3">
            <p>{{getEvolutions3}}</p>
            <img src="{{getEvolutionsImage3.sprites.other.dream_world.front_default}}" class="img-evolution3"/>
            </div>     
</div>
-->
      <div class="evolution-container">
        <img src ="{{pokemon.sprites.back_default}}" class="pokemon-type--icon"/>
        <div *ngFor ="let evolutions of arr" class="evolution-1">
             <p>{{evolutions}}</p>
        </div>
      </div>
</div>
<footer>
     <p class="paraph">
         cxrdonx®
         MIT License
        
     </p>
</footer>
</section>


    
     






    