
<div id="poke-container">
 
    
</div>
<div *ngIf ="pokemon">
          
    <img src ="{{pokemon.sprites.other.dream_world.front_default}}" id="poke_img">

</div>

<div class= "dash">

</div>

<div *ngIf ="pokemon" class="info-container">
    <div class="item1">{{pokemon.name}}</div> 
    <div class ="item3">Altura: {{pokemon.height}}</div> 
    <div class="item4">Peso: {{pokemon.weight}}</div>
    <div class ="item5">{{hability.flavor_text_entries[42].flavor_text}}</div> 
   
    
   <!--- <input type="text" class="item6" [(ngModel)]="pokemonId" (keyup.enter)="getPokemonId()"/> -->
</div>

<section class="pokemon-type--container">
<div class="type-container">
    <div class="item8">Tipo</div>
    <div *ngIf ="pokemon"class="item9">{{pokemon.types[0].type.name}}</div>
    <div *ngIf ="pokemon" class="item10">{{pokemon.types[1].type.name}}</div>
</div>
    <div class ="evolution-container">
        <div>{{getEvolutions}}</div>
        <div>{{getEvolutions2}}</div>
        <div>{{getEvolutions3}}</div>   
</div>
</section>


    
     






    